<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinInstagramApp"
        tools:targetApi="31">
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.SettingActivity"
            android:exported="false" /> <!-- Set the intent-filter of HomeActivity as the launcher -->
        <activity
            android:name=".Home.HomeActivity"
            android:exported="true">

            <!-- Add the intent-filter to HomeActivity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activity declarations -->
        <activity
            android:name=".Share.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".Search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Reels.ReelsActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
    </application>

</manifest>